
<div class="container-fluid">
	<div class="page-header">
		<h1 align="center"> GAME LOUNGE </h1>
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<div class="panel panel-default">
			<div class="panel-body form-panel">
				<form>
					<div class="form-group">
						<label for="emailaddress">Email Address *</label>
						<input class="form-control" type="email" id="emailaddress" name="emailaddress" required="true" placeholder="Enter email address" />
					</div>
					<div class="form-group">
						<label for="password">Password * </label>
						<input class="form-control" type="password" id="password" name="password" required="true" placeholder="Enter password" />
					</div>
					<div class="form-group">
						<a href="/user/register">Dont have an account yet?</a>
					</div>
					<div class="form-group">
						<a href="#">Forgot Password?</a>
					</div>
					<div class="form-group text-center">
						<button class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2 btn btn-raised btn-success btn-login">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
